*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    width: 100%;
    height: 150px;
    background: linear-gradient(97.26deg, #ed3cca .49%,
    #df34d2 14.88%, #d02bd9 29.27%, #bf22e1 43.14%,
    #ae1ae8 57.02%, #9a10f0 70.89%, #8306f7 84.76%,
    #7c1af8 99.15%), linear-gradient(#0000000d, #0000000d);;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headcontainer {
    width: 85%;
    height: 80%;
    border:1px solid black;
}

.headerTop {
    width: 100%;
    height: 30%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.simpleMenu {
    width: 80px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type:none ;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    /* .simpleMenu li {
    list-style-type: none;
} */
}

.styleMenu:hover{
background: red;
}


.header-geo img{
    width: 20px;
    height: 20px;
}










.headerBottom {
    width: 100%;
    height: 70%;
    border: 1px solid black;    
}